[class^="sf__icon"], [class^=" sf__icon"], [class^="sf__icon"]:before, [class*=" sf__icon"]:before {
  font-family: 'sf-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

&__icon {
  &.-type-location:before {
    content: "\e900";
  }
  &.-type-calendar:before {
    content: "\e901";
  }
  &.-type-arrow:before {
    content: "\e902";
  }

  &.-state-control {
    position: absolute;
    left: 10px;
    opacity: .5;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: $emperor;
  }
}